body {
    background-color: rgb(44, 44, 44);
    color: rgb(255, 255, 255); 
    font-family: 'Roboto Slab', serif; 
}

.title h1 {
    color: rgb(245, 218, 13); 
    font-family: 'Lobster', cursive; 
    font-size: 48px; 
    font-weight: bold;
}

.author h3 {
    color: rgb(157, 204, 69);
    font-family: 'Roboto Slab', serif; 
    font-size: 20px; 
    font-weight: lighter;
}

h4 {
    color: rgb(192, 228, 204);
    font-family: 'Permanent Marker', cursive;
    font-size: 26px;
    font-weight: lighter;
}

p {
    color: rgb(255, 255, 255);
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    text-indent: 30px;
}

.footer {
    color: rgb(157, 204, 69);
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    font-size: 12px;
}
